<div class="flex flex-horizontal">
    <div class="flex-content left">
        <button matMiniFab class="left on-top-1" (click)="openAddRecipeDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    @for (currRecipe of recipes_shown(); track currRecipe.id) {
        <mat-card class="recipe gimmeSpace">
            <mat-card-header>
                <mat-card-title>
                    {{currRecipe.name}}
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image class="recipeImage" src="{{currRecipe.image}}" alt="Food">
            <mat-card-content>
                {{currRecipe.description}}
            </mat-card-content>
            <mat-card-footer class="makeSomeSpace scroll-horizontal">
                <mat-chip-set>
                    @for (tag of currRecipe.tags; track tag.id) {
                        <mat-chip>{{ tag.name }}</mat-chip>
                    } @empty {
                        <mat-chip>No Tags</mat-chip>
                    }
                </mat-chip-set>
            </mat-card-footer>
        </mat-card>
    }
</div>