.left {
    position: absolute;
    left: 5px;
    align-self: flex-start;
}

.recipe {
    width: 250px;
}

.recipeImage {
    height: 175px;
    object-fit: cover;
}

.makeSomeSpace {
    padding: 16px;
}