// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$spring-green-palette,
        tertiary: mat.$rose-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
body.dark-mode {
  color-scheme: dark;
}

/* You can add global styles to this file, and also import other style files */
.matchBg {
  @include mat.table-overrides(
    (
      background-color: var(--mat-sys-surface-container-low),
    )
  );
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-vertical {
  align-items: center;
}

.flex-dir-vertical {
  flex-direction: column;
}

.flex-horizontal {
  justify-content: center;
  text-align: center;
}

.flex-content {
  flex: 1;
  margin: 6px;
  flex-grow: 0;
}

.flex-start {
  justify-content: flex-start;
}

[hidden].mat-icon {
    font-family: 'Material Icons' !important;
    display: none; /* or display: none if you want to remove space */
}

.left {
  left: 15px;
}

.container {
  width: 100vw;
}

.spacer {
  flex: 1 1 auto;
}

.gimmeSpace {
  margin: 6px;
}

.giveMyKidsSpace > * {
  margin: 6px;
}

.gimmePadding {
  padding: 6px;
}

.noWrap {
  text-wrap: nowrap;
}

.noUnderline {
  text-decoration: none;
}

.on-top-1 {
  z-index: 1;
}

.scroll-horizontal {
  .mdc-evolution-chip-set__chips {
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    width: 100%; /* or specific width */
  }
}

.clickable {
  cursor: pointer;
}